#ad{
  border: 1px solid #E1E1E1;
  width: 25rem;
  font-family: serif;
}
#icon{
  width: 60px;
  height: 60px;
}
#title-description{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
#ad-head{
  padding: 4px;
}
h3{
  margin: 0;
  letter-spacing: -1px;
  font-size: 35px;
}
#ad-foot{
  padding: 5px;
}
#ad-foot::after{
  display: block;
  content: '';
  clear: both;
}
#category-stars{
  width: 50%;
  display: inline-block;
}
span:first-child{
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
}
span:last-child{
  font-size: 17px;
}
#stars{
  letter-spacing: -2px;
}
.star{
  width: 13px;
}
input{
  font-family: serif;
  float: right;
  background-color: #62AEE9;
  border: none;
  width: 163px;
  color: white;
  height: 43px;
  font-size: 15px;
  font-weight: bold;
}
